*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-family: "VT323", monospace;
  background-color: #ffcb05;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

input {
  font-family: inherit;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

.root {
  font-family: "VT323", monospace;
  background-color: #ffcb05;
}

.main-header {
  display: flex;
  justify-content: center;
  padding: 3rem;
  align-items: center;
}

.card {
  background-color: transparent;
  border: none;
}

.card-title {
  font-size: 1.5rem;
}

.card-text {
  font-size: 1.3rem;
}
